@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  
}

.container {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
}

.container .content {
    margin: 20px 0;
}

.container header {
    font-size: 30px;
    font-weight: 600;
}

.container .box {
  background: #fff;
  border: 1px solid #212529;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-top: 10px;
}

.container .button {
  margin-top: 230px;
}

.container .button .btn-click {
  height: 50px;
  width: 150px;
  font-size: 20px;
}


.container .box .quote {
  top: 50%;
  left: 50%;
  margin-top: 30px;
}