@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /*background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);*/
  
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #bde0fe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #6c757d;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
  outline: 0;
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px (0,0,0,0.2);
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
}

form input .equal {
  width: 145px;
  color: aqua;
}

form input .ac {
  color: aqua;
}

form input .de {
  color: aqua;
}
